.header__lang-link {
    color         : #FFFFFF;
    width         : 22px;
    font-style    : normal;
    font-weight   : 400;
    font-size     : 18px;
    line-height   : 1.0;
    padding-right : 18px;
    padding-bottom: 8px;
    padding-top   : 14px;
    opacity       : 1;
    transition    : opacity 0.4s;
}

.header__lang-link:hover {
    opacity: 0.5;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__lang-link {
        color        : #FFFFFF;
        width        : 30px;
        font-style   : normal;
        font-weight  : 400;
        font-size    : 24px;
        line-height  : 28px;
        padding-right: 18px;
        padding-left : 400px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .header__lang-link {
        color       : #FFFFFF;
        width       : 30px;
        font-style  : normal;
        font-weight : 400;
        font-size   : 24px;
        line-height : 28px;
        padding-left: 589px;
        text-align          : right;
        text-decoration-line: underline;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px)  {
    .header__lang-link {
        color       : #FFFFFF;
        width       : 30px;
        font-style  : normal;
        font-weight : 400;
        font-size   : 24px;
        line-height : 28px;
        padding-left: 570px;
        text-align          : right;
        text-decoration-line: underline;
    }
}

@media screen and (min-width: 1280px)  {

    .header__lang-link {
        color       : #FFFFFF;
        width       : 30px;
        font-style  : normal;
        font-weight : 400;
        font-size   : 24px;
        line-height : 28px;
        padding-left: 792px;
        text-align          : right;
        text-decoration-line: underline;
    }
    
}