.places {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    color: #ffffff;
    background-color: #2a2c2f;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 66px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .places {
        margin: 0;
        padding: 0;
        min-width: 720px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: 73px;
        padding-left: 24px;
        padding-bottom: 90px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .places {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        min-width: 928px;
        row-gap: 80px;
        padding-bottom: 92px;
        padding-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 0;
        padding: 0;
        min-width: 984px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: 80px;
        padding-bottom: 92px;
    }
}
