.place__image {
    margin: 0;
    width: 100%;
    object-fit: cover;
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .place__image {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        padding: 0;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        padding: 0;
        width: 95.7%;
    }
}
