.intro__list {
    margin: 0;
    padding: 0;
    width : 288px;
    height: 90px;
    
    text-align    : left;
    font-style    : normal;
    font-weight   : 700;
    font-size     : 12px;
    line-height   : 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}