.header__logo {
    color: #ffffff;
    min-width: 142px;
    height: 42px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        padding: 0;
        max-width: 176px;
        height: 52px;
    }
}


