.header {
    margin         : 0;
    padding        : 0;
    color          : #FFFFFF;
    display        : flex;
    
    align-items    : flex-end;
    width          : 80%;
    
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
}