.lead__title {
    margin: 0;

    color      : #FFFFFF;
    text-align : center;
    
    width      : 288px;
    height     : 88px;
    font-style : normal;
    font-weight: 900;
    font-size  : 40px;
    line-height: 44px;
    text-align: center;
    padding-left: 16px;
    
    padding-right: 16px;


}