.intro {
    margin          : 0;
    padding         : 0;
    color           : #FFFFFF;
    display         : flex;
    flex-direction  : column;
    min-width       : 288px;
    padding-left    : 16px;
    padding-right   : 16px;
    padding-bottom  : 64px;
    padding-top     : 64px;
    background-color: #2A2C2F;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro {
        margin     : 0;
        padding    : 0;
        align-items: flex-start;
        width: 720px;
        padding-top: 92px;
        padding-left: 24px;

    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .intro {
        margin       : 0;
        padding      : 0;
        width    : 690px;
        padding-top  : 92px;
        padding-left: 48px;

    }
}


@media screen and (min-width: 1280px) {
    .intro {
        margin      : 0;
        padding     : 0;
        width       : 690px;
        padding-left: 100px;
        align-self:flex-start;
        padding-top : 92px;
    }
}


