.cover {
    margin: 0;
    width: 100%;
    background-color: #2a2c2f;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cover {
        margin: 0;
        padding: 0;
        padding-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        padding: 0;
        padding-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding: 0;
        padding-bottom: 92px;
        width: 92.5%;
    }
}
