.cover__background {
    margin  : 0;
    position: absolute;
    left    : 0px;
    top     : 0px;
    width   : 320px;
    min-height  : 200px;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    
    
}





@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cover__background {
        
        width: 720px;
        min-height   : 480px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .cover__background {
        left: 48px;
    
        width   : 928px;
        min-height  : 640px;
    }
}

@media screen and (min-width: 1280px)  {
    .cover__background {
        left    : 48px;
        width   : 1184px;
        min-height  : 740px;
    }

}