.footer {
    margin: 0 auto;
    color: #ffffff;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    width: 58.2%;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 0;
        margin: 0 auto;
        width: 93.8%;
        display: flex;
        flex-direction: row;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 0;
        margin: 0 auto;
        width: 90.7%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 0;
        margin: 0 auto;
        width: 92.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding-bottom: 24px;
    }
}

