.footer {
    margin: 0;
    color: #ffffff;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 118px;
    width: 186px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        padding: 0;
        margin: 0;
        width: 720px;
        display: flex;
        flex-direction: row;

        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .footer {
        padding: 0;
        margin: 0;
        width: 928px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 0;
        margin: 0;

        width: 1184px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding-bottom: 24px;
    }
}
