.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: white;
    padding-bottom: 40px;
    text-align: left;
}

@media screen and (min-width: 768px)  {
    .intro__title {
        margin: 0;
        font-size: 54px;
        line-height: 58px;
        color: white;
        padding-bottom: 40px;
        text-align: left;
    }
}

@media screen and (min-width: 1024px)  {
    .intro__title {
        padding: 0;
        margin: 0;
        font-size: 54px;
        line-height: 58px;
        color: white;
        padding-bottom: 40px;
        text-align: left;
    }
}

@media screen and (min-width: 1280px) {
    .intro__title {
        margin: 0;
        font-size: 54px;
        line-height: 58px;
        color: white;
        padding-bottom: 40px;
        text-align: left;
    }
}
